<br>
<div class="container">  
    <div class="row">
      <div class="col-md-6">
        <div class="row">
      <div class="col-md-6 m-0 p-0">
        <img src="../../assets/research1.jpg" alt="" class="w-90" />
      </div>
      <div class="col-md-6 m-0 p-0">
        <img src="../../assets/reaserch2.jpg" alt="" class="w-90" />
      </div>
      <div class="col-md-6 m-0 p-0">
        <img src="../../assets/reaserch3.jpg" alt="" class="w-90" />
      </div>
      <div class="col-md-6 m-0 p-0">
        <img src="../../assets/reaserch4.jpg" alt="" class="w-90" />
      </div>
      </div>
    </div>
      <div class="col-md-6">
        <div class="row align-items-center h-100">
          <div class="col">
            <h1 class="display-2">Research & Development</h1>
            <p class="lead">
              <br />
            </p>Our meals are specially packaged in a refrigerated box and shipped with ice packs to keep your package cold during transit.Our meals are specially packaged in a refrigerated box and shipped with ice packs to keep your package cold during transit.Our meals are specially packaged in a refrigerated box and shipped with ice packs to keep your package cold during transit.
            <br /><br />
            <!-- <button class="button button1">Read More</button> -->

            <img src="../../../assets/read more.png">
        </div>
        </div>
      </div>
    </div>    
</div>