<br><br>
<div class="container">
    <div class="row">
      <div class="col-md-6 image">
  
        <img src="../../../assets/work environment.jpg" alt="" class="w-100 dim" />
      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-6">
  
        <div class="row align-items-center h-100">
          <div class="col">
            <h1 class="display-3">Work Environment</h1>
            <br>
            <!-- <p class="lead"> -->
              <dl>
              We Follow certain values in our work environment, They are
              <br><br>
              <dt>Ethics & Integrity</dt>
              <dd>We present high level of ethics and integrity when dealing internally and externally.</dd>
              <br>
              <dt>One Family</dt>
              <dd>We do our best to work as one family. We always care, share, respect, trust and listen to each other.</dd>
              <br>
              <dt>Loyalty</dt>
              <dd>we have an attitude of devotion, attachment and affection as ambassadors for the group.</dd>
              <br>
              <dt>Commitment</dt>
              <dd>We are bound emotionally & intellectually to all stake holders.</dd>
              <br>
              <dt>Passion to Excel</dt>
              <dd>We have passion to be the best in every thing we do.</dd>
              <br>
            </dl>

          </div>
        </div>
  
      </div>
      <!-- /.col-md-6 -->
  
    </div>
    <!-- /.row -->
  

  
  </div>