<br><br>
<div class="container p-4">
    <div class="row vishnu mb-4">
        <div class="col-lg-6">
            <img class="disp" src="../../../assets/ExperiencedProfessionals.jpg">
            <h1>Experienced Professionals</h1>
            <p>Do you want to take your career to the next level?</p>
            <button class="button button1">explore career opportunities</button>
        </div>
        <div class="col-lg-6">
            <img class="disp" src="../../../assets/Fresh Graduates.jpg">
            <h1>Fresh Graduates</h1>
            <p>Start here! we will help you build your personal and professional skills.</p>
            <button class="button button1">explore career opportunities</button>
        </div>
    </div>
    <div class="row vishnu mb-4">
        <div class="col-lg-6">
            <img class="disp" src="../../../assets/Cooperative Training.jpg">
            <h1>Cooperative Training</h1>
            <p>Broaden your knowledge by applying acquired academic knowledge to real work experience.</p>
            <button class="button button1">explore career opportunities</button>
        </div>
        <div class="col-lg-6">
            <img class="disp" src="../../../assets/Training and Development.jpg">
            <h1>Training and Development</h1>
            <p>Start here! we will help you build your personal and professional skills</p>
            <button class="button button1">explore career opportunities</button>
        </div>
    </div>
</div>
