.button {
    background:linear-gradient(270deg, #4DB84B 2.83%, #178995 100%);
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 10px;
}

.vishnu>div{
    background-clip: content-box;
}

.disp {
    width: 100%;
}

h1 {
    color:#4DB84B;
}