<br>
<div class="container">
    <div class="row">
      <div class="col-md-6 order-md-6">
  
        <img src="../../../assets/whybasamh.jpg" class="w-100" />
      </div>
      <div class="col-md-6 order-md-1">
  
        <div class="row align-items-center h-100">
          <div class="col">
            <h3>why basamh</h3><br><br>
            <p class="lead">In six decades Basamh Group has become a major force in the import and distribution of household names, as well as manufacturing on a joint venture basis, We have also become a strategic partner in other industrial and service ventures, both in the kingdom of Saudi Arabia and abroad.
              <br /><br />
            </p>
            <button class="button button1 center">Create an Account</button>

          </div>
        </div>
  
      </div>
      <!-- /.col-md-6 -->
  
    </div>
    <!-- /.row -->
  
  </div>
