.navbar-light .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  // position: absolute;
  // top:10%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 80%;
  font-family: 'Poppins';
}

.navbar-toggler {
  background: #fff;
}

.navbar {
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}



.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-hide {
  display: none;
}

.banner {
  max-width: 100%;
  width: 1440px;
  overflow-x: hidden;
}

.banner img {
  width: 1440px;
  max-width: 140.625%;
}

.align {
  h2 {
    position: absolute;
    top: 40%;
    left: 3%;
    font-family: 'Poppins';
    color: #4DB84B;
    font-weight: 600;
    font-size: 250%;

  }

  p{
    position: absolute;
    top: 52%;
    left: 3%;
    font-family: 'Poppins';
    color: white;
  }


}