<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="http://localhost:4200">
        <img src="../../assets/Basamh final logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Buisness Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Corporate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Coverage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../../assets/login.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner">
  <img src="../../assets/carrersbanner.jpg">
  <div class="align">
  <h2>Careers</h2>
  <p>Home > Careers</p>
</div>
</div>