<br>
<div class="contact-in">
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3710.8258457099355!2d39.16794631411981!3d21.553663985716376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d017484e5c6d%3A0xd6288fc6592c26cc!2sBasamh%20Trading%20Company!5e0!3m2!1sen!2sin!4v1599729821406!5m2!1sen!2sin" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="contact-form">
        <h1>Contact Us</h1>
        <form>
            <input type="text" placeholder="Name" class="contact-form-txt">
            <input type="email" placeholder="Email" class="contact-form-txt">
            <textarea placeholder="Drop your Queries" class="contact-form-textarea"></textarea>
            <input type="submit" name="submit" class="contact-form-btn">
        </form>
    </div>
</div>