<p>
<h2>Our Brands</h2>
<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <ol class="carousel-indicators py-5">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
				<li data-target="#myCarousel" data-slide-to="5"></li>
              </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="../../../assets/logo/harrowgate.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/logo/Nature-Valley-Logo.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/gm.jpg">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/betty.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item py-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="../../../assets/logo/Treva.JPG">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/logo/Perrier.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/Velor logo-02.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/Toppy-A+E Logo-01.jpg">
                            </div>
                        </div>
                    </div>
				</div>
				<div class="carousel-item py-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="../../../assets/logo/BestMix.jpg">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/logo/unnamed.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/delpaso.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/PERFETTO Log2.png">
                            </div>
                        </div>
                    </div>
				</div>
				<div class="carousel-item py-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="../../../assets/logo/Bugles.PNG">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/logo/alwazir.PNG">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/RAID_Logo copy.PNG">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/Windex.png">
                            </div>
                        </div>
                    </div>
				</div>
				<div class="carousel-item py-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="../../../assets/logo/Goody Logo.PNG">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/logo/rabea-tea-logo.unofficial.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/326080-Baygonlogo-1327356362.jpg">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/MM-Logo-English-PNG.png">
                            </div>
                        </div>
                    </div>
				</div>
				<div class="carousel-item py-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="../../../assets/logo/800px-SC_Johnson_Logo.svg.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/logo/Cofique copy.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/Pledge_logo.jpg">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
								<img class="card-img-top" src="../../../assets/logo/Glade_logoAU-NZ (1).png">
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>            
</div>