<br>
<div class="header">
    <h1>OUR PROGRESS</h1>
    <p>ANNUAL REPORT AND SHARES</p>
    <p class="display-5">
        The distribution of BTC goods is carried out on a daily basis to cover more than 147 cities, town, and villages around the kingdom. The BTC transportation fleet consists of various sizes of owned trucks and rented trucks from trusted transportation contractors who have been serving the company for decades.
    </p>
    <p class="display-5">
        BTC receives its imported commercial goods from various sources and different countries around the globe in the two main seaports in Saudi (Jeddah Islamic Port) and (King ABDULAZIZ port in Dammam). It also receives daily premium quality product produced in local factories in Saudi Arabia.
    </p>
    <!-- <button class="button button1">Read More</button> -->

    <img src="../../../assets/read more.png">
  </div>
  