<br>
<div class="header">
    <h1>Visit Basamh</h1>
    <p class="cpt">Take a Trip</p>
    <p class="desc">
        In six decades Basamh Group has become a major force in the import and distribution of<br> household names, as well as manufacturing on a joint venture basis We have also become a strategic partner in other industrial and service ventures, both in the kingdom of Saudi Arabia and abroad.
    </p>
    <!-- <button class="button button1">Read More</button> -->

    <img src="../../../assets/read more.png">
  </div>
