<br>
<div class="container">
    <div class="row">
      <div class="col-md-6 order-md-6">
  
        <img src="../../assets/Supermarket.jpg" class="w-100" />
      </div>
      <div class="col-md-6 order-md-1">
  
        <div class="row align-items-center h-100">
          <div class="col">
            <h3>Our Mission & Vision</h3>
            <p class="lead">Basamh Trading Company is a FMCG Company in the KSA working in the field of food stuff manufacturing, sales and distribution operations through focusing on its brand, strategic Partners, customers and consumers, to ensure customer and consumer total satisfaction through creating a professional management & marketing team, developing strategic alliances and deploying the needed human, knowledge, technological and financial resources
              <br /><br />
            </p>
            
            <p class="lead">Maintain the leadership in the Saudi market via excellence in Sales, Competitive Marketing execution, and effective distribution
                <br />
              </p>
            <!-- <button class="button button1">Read More</button> -->

            <img src="../../../assets/read more.png">

          </div>
        </div>
  
      </div>
      <!-- /.col-md-6 -->
  
    </div>
    <!-- /.row -->
  
  </div>